<header>
    <nav>
        <a href="/index.html" class="logo">
            <img src="/assets/img/v2/GE-AIO-Green.png" alt="GrüneEule Logo" class="logo-schriftzug">
        </a>
        <ul class="nav-links">
            <li><a href="/index.html">Home</a></li>
            <li><a href="/index.html#projects">Projects</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/news/news.html">News</a></li>
            <li><a href="https://grueneeule.de/l/dc" target="_blank" rel="noopener noreferrer">Discord Server</a></li>
        </ul>
</header>