<header>
    <nav style="margin-bottom:20px;">
        <a href="/index.html" class="logo">
            <img src="/assets/img/v2/GE-AIO-Green.png" alt="GrüneEule Logo" class="logo-schriftzug">
        </a>
        <ul class="nav-links">
            <li><a href="/index.html">Home</a></li>
            <li><a href="/index.html#projects">Projekte</a></li>
            <li><a href="/about">Wir</a></li>
            <li><a href="/news/news.html">News</a></li>
            <li><a href="https://grueneeule.de/l/dc" target="_blank" rel="noopener noreferrer">Discord Server</a></li>
        </ul>
    </nav>

    <nav>
        <a href="/de/developers/" class="logo">
            <img src="/assets/img/v2/GE-Symbol-Orange.png" alt="GrüneEule Logo" class="logo-schriftzug">
            <span class="logo-text" style="margin-left:8px; font-weight:bold; font-size:18px; vertical-align:middle;">Developers</span>
        </a>
        <ul class="nav-links">
            <li><a href="/developers/">Dev Home</a></li>
            <li><a href="/developers/apis">APIs</a></li>
        </ul>
    </nav>
</header>
