<header>
    <nav>
        <a href="/index.html" class="logo">
            <img src="/assets/img/gruneeule.png" alt="GrüneEule Logo" class="logo-img">
            GrüneEule
        </a>
        <ul class="nav-links">
            <li><a href="/index.html">Home</a></li>
            <li><a href="/about">Wir</a></li>
            <li><a href="/index.html#projects">Projekte</a></li>
            <li><a href="/ge-studios/mc">Studios MC</a></li>
            <li><a href="https://grueneeule.de/l/dc" target="_blank" rel="noopener noreferrer">Discord Server</a></li>
        </ul>
    </nav>
</header>
