<header>
    <nav>
        <a href="/index.html" class="logo">
            <img src="/assets/img/gruneeule.png" alt="GrüneEule Logo" class="logo-img">
            GrüneEule
        </a>
        <ul class="nav-links">
            <li><a href="/team">Team</a></li>
            <li><a href="/status.html">Status</a></li>
            <li><a href="/index.html#projects">Projekte</a></li>
            <li><a href="/dc.html" target="_blank" rel="noopener noreferrer">Discord Server</a></li>
        </ul>
        <a href="/en/index.html" class="language-switch">EN</a>
    </nav>
</header>
